[submodule "apps/qtcloud-devops"]
	path = apps/qtcloud-devops
	url = https://github.com/quanttide/qtcloud-devops.git
[submodule "packages/toolkit"]
	path = packages/toolkit
	url = https://github.com/quanttide/quanttide-devops-toolkit.git
