[submodule "apps/qtcloud-devops"]
	path = apps/qtcloud-devops
	url = https://github.com/quanttide/qtcloud-devops.git
[submodule "quanttide-devops-toolkit"]
	path = packages/toolkit
	url = https://github.com/quanttide/quanttide-devops-toolkit.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-devops.git
[submodule "docs/essay"]
	path = docs/essay
	url = https://github.com/quanttide/quanttide-essay-of-devops.git
[submodule "apps/qtadmin"]
	path = apps/qtadmin
	url = https://github.com/quanttide/qtadmin.git
[submodule "data/brochure"]
	path = data/brochure
	url = https://github.com/quanttide/quanttide-brochure-of-devops.git
[submodule "data/journal"]
	path = data/journal
	url = https://github.com/quanttide/quanttide-journal-of-devops.git
[submodule "data/report"]
	path = data/report
	url = https://github.com/quanttide/quanttide-report-of-devops.git
[submodule "data/roadmap"]
	path = data/roadmap
	url = https://github.com/quanttide/quanttide-roadmap-of-devops.git
[submodule "docs/handbook"]
	path = docs/handbook
	url = https://github.com/quanttide/quanttide-handbook-of-devops.git
[submodule "docs/tutorial"]
	path = docs/tutorial
	url = https://github.com/quanttide/quanttide-tutorial-of-devops.git
[submodule "data/history"]
	path = data/history
	url = https://github.com/quanttide/quanttide-history-of-devops.git
[submodule "docs/bylaw"]
	path = docs/bylaw
	url = https://github.com/quanttide/quanttide-bylaw-of-devops.git
[submodule "docs/specification"]
	path = docs/specification
	url = https://github.com/quanttide/quanttide-specification-of-devops.git
[submodule "apps/qtcloud"]
	path = apps/qtcloud
	url = https://github.com/quanttide/qtcloud.git
[submodule "data/context"]
	path = data/context
	url = https://github.com/quanttide/quanttide-context-of-devops.git
[submodule "docs/gallery"]
	path = docs/gallery
	url = https://github.com/quanttide/quanttide-gallery-of-devops.git
