[submodule "apps/qtcloud-devops"]
	path = apps/qtcloud-devops
	url = https://github.com/quanttide/qtcloud-devops.git
[submodule "packages/toolkit"]
	path = packages/toolkit
	url = https://github.com/quanttide/quanttide-devops-toolkit.git
[submodule "docs/roadmap"]
	path = docs/roadmap
	url = https://github.com/quanttide/quanttide-roadmap-of-devops.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-devops.git
[submodule "docs/essay"]
	path = docs/essay
	url = https://github.com/quanttide/quanttide-essay-of-devops.git
[submodule "docs/report"]
	path = docs/report
	url = https://github.com/quanttide/quanttide-report-of-devops.git
